<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Portofolio | Arya Wira  </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet" />

  </head>
  <body>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
      <div class="container px-5">
          <a class="navbar-brand" href="index.html"><span class="fw-bolder text-primary">ARYA WIRA</span></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                  <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
                  <li class="nav-item"><a class="nav-link" href="">Experience</a></li>
                  <li class="nav-item"><a class="nav-link" href="">Projects</a></li>
                  <li class="nav-item"><a class="nav-link" href="">Contact</a></li>
              </ul>
          </div>
      </div>
  </nav>
    <!--Akhir Navbar-->

    <!--Heros-->
    <section>
    <div class="container col-xxl-9 px-5 py-6">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-9 col-sm-8 col-lg-6">
          <img src="/asset/profile.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="900" height="700">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold text-primary lh-1 mb-3">Arya Wira</h1>
          <p class="lead">Hello, I'm Arya Wira, I'm a student at Udayana University. I majored in Informatics, and this year I had the opportunity to study at LearningX</p>
        </div>
      </div>
    </div>
    </section>
    <!--Akhir Heros-->

    <!--Tentang Saya-->
    <section class="py-1" >
      <div class="container px-3">
          <div class="row gx-5 justify-content-center">
              <div class="col-xxl-8">
                  <div class="text-center my-5">
                      <h2 class="display-5 fw-bolder text-primary">About Me</h2>
                      <p class="lead fw-light mb-4">My name is I Gede Ngurah Arya Wira Putra</p>
                      <p class="text-muted">I am a programmer. My hobby is creating interesting content, and I love being organized. I have more than 7 years of organizational experience. My goal is to work in the industrial world that suits my field of ability.</p>
                  </div>
              </div>
          </div>
      </div>
    </section>
</main>
    <!--Akhir Tentang Saya-->
    
    <!--Exsperience-->
    <div class="container px-4 py-5" id="hanging-icons" style="margin-top: 1rem;">
      <h2 class="pb-2 border-bottom text-center ">Exsperience</h2>
      <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <svg class="bi" width="1em" height="1em"><use xlink:href="#toggles2"></use></svg>
          </div>
          <div>
            <h3 class="fs-2 text-body-emphasis">Wakil Ketua OSIS</h3>
            <p>I have experience as deputy chairman of the OSIS at SMAN 3 Denpasar. I held the position for 1 period in the 2020/2021 academic year.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <svg class="bi" width="1em" height="1em"><use xlink:href="#cpu-fill"></use></svg>
          </div>
          <div>
            <h3 class="fs-2 text-body-emphasis ">Wakil Ketua HIMAIF</h3>
            <p>HIMAIF is the Informatics Student Association at Udayana University. In the 2023 period I will assume the position again as deputy chairman of the association.</p>
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
            <svg class="bi" width="1em" height="1em"><use xlink:href="#tools"></use></svg>
          </div>
          <div>
            <h3 class="fs-2 text-body-emphasis">M&C GDSC UDAYANA</h3>
            <p>In 2022 I will have the opportunity to become a member of the Media and Creative Google Developer Student Club Udayana. I had the opportunity to make use of it on social media.</p>
          </div>
        </div>
      </div>
    </div>
    <!--EndEx-->
    
    <!--Project-->
    <section class="py-5">
      <div class="container px-5 mb-5">
          <div class="text-center mb-5">
              <h1 class="pb-2 border-bottom text-center ">Projects</h1>
          </div>
          <div class="row gx-5 justify-content-center">
              <div class="col-lg-11 col-xl-9 col-xxl-8">
                  <!-- Project Card 1-->
                  <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                      <div class="card-body p-0">
                          <div class="d-flex align-items-center">
                              <div class="p-5">
                                  <h2 class="fw-bolder">Ticket Management</h2>
                                  <p>This project uses the C language as a tool to build applications. The application I created aims to help sell tickets at the cinema. I did this project because of an assignment from a course on campus.</p>
                                </div>
                              <img class="img-fluid " src="asset/tester.jpg" alt="..." width="300" height="450"/>
                          </div>
                      </div>
                  </div>
                  <!-- Project Card 2-->
                  <div class="card overflow-hidden shadow rounded-4 border-0">
                      <div class="card-body p-0">
                          <div class="d-flex align-items-center">
                              <div class="p-5">
                                  <h2 class="fw-bolder">Application Inventory</h2>
                                  <p>This application is website-based with the development language, namely PHP with the Laravel framework. I built this application because of an assignment from my internship at KOMINFO Badung Regency.</p>
                                </div>
                              <img class="img-fluid " src="asset/tester.jpg" alt="..." width="300" height="450"/>                          </div>
                      </div>
                  </div>
                  <!--Project Card 3-->
                  <div class="card overflow-hidden shadow rounded-4 border-0">
                    <div class="card-body p-0">
                        <div class="d-flex align-items-center">
                            <div class="p-5">
                                <h2 class="fw-bolder">Go Kredit</h2>
                                <p>This Go Kredit project is in prototype form. I made this using figma. And this project is one of my final projects in campus courses.</p>
                              </div>
                            <img class="img-fluid " src="asset/jes.jpg" alt="..." width="300" height="450"/>                        </div>
                    </div>
                </div>
              </div>
          </div>
      </div>
  </section>
    <!--EndProject-->
    
    <!--Footer-->
    <div class="container">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Exsperience</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Project</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Contact</a></li>
        </ul>
        <p class="text-center text-body-secondary">© 2023 Arya Wira, Inc</p>
      </footer>
    </div>
    <!--Akhir Footer-->

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>